body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  background-color: rgb(230, 73, 230);
  color: white;
  display: flex;
  justify-content: center;
}

:root{
--Red: hsl(0, 100%, 74%);
--Green: hsl(154, 59%, 51%);
--Blue: hsl(248, 32%, 49%);
--Dark-Blue: hsl(249, 10%, 26%);
--Grayish-Blue: hsl(246, 25%, 77%);
}

#form-container{
  display: flex;
  width: 70rem;
  height: 35rem;
  margin: 2rem 0;
  background-image: url("./images/bg-intro-desktop.png");
  background-color: var(--Red);
}

.text-container{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.titulo{
  width: 68%;
  font-size: 2.5rem;
  margin-bottom: 0;
  font-weight: bold;
  line-height: 2.5rem;
}

.parrafo{
  width: 80%;
  font-size: 0.80rem;
  margin-left: 4rem;
}

.input-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
}

.alerta{
  display: none;
}

.alertaOff{
  width: 1.7rem;
  height: 1.7rem;
  position: absolute;
  top: 0.60rem;
  right: 3rem;
}

.spanAlert{
  opacity: 0;
}

.spanAlertOff{
  color: red;
  font-size: 0.7rem;
  width: 85%;
  text-align: right;
  padding: 0.4rem 0px 0.7rem 0px;
}

.inputs {
  width: 80%;
  padding: 0.90rem ;
  border-radius: 4px;
  border: 1px solid var(--Grayish-Blue);
}

.inputAlert{
  width: 80%;
  padding: 0.90rem ;
  border-radius: 4px;
  border: 1px solid var(--Red);
}

.form-container{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.promotion{
  background-color:var(--Blue);
  padding: .80rem;
  margin-bottom: 1.5rem;
  border-radius: 10px;
  width: 75%;
  text-align: center;
  box-shadow: 0px 8px 20px var(--Dark-Blue);
}

.span-promocion{
  font-weight: bold;
}

#formulario{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  width: 80%;
  border-radius: 10px;
  padding-top: 1.5rem;
}



#button-form{
  background-color: var(--Green);
  padding: 1rem;
  color: white;
  border: 1px solid var(--Green);
  border-radius: 5px;
  width: 85%;
  margin-top: 1rem;
  cursor: pointer;
}

.parrafo-form{
  color: var(--Grayish-Blue);
  font-size: .60rem;
  width: 80%;
  text-align: center;
  margin-bottom: 1.5rem;
}

.span-terminos{
  color: var(--Red);
  font-weight: bold;
}

@media only screen and (max-width: 920px) {

  #form-container{
    height: 100%;
    background-image: url("./images/bg-intro-mobile.png");
    flex-direction: column;
  }

  .text-container{
    width: 100%;
  }

  .input-container{
    width: 100%;
  }
  
  .alertaOff{
    top: 0.60rem;
    right: 4.5rem;
  }
  
  .spanAlertOff{
    font-size: 0.8rem;
  }
  
  .titulo{
    font-size: 2.5rem;
    text-align: center;
    margin: center;
  }
  
  .parrafo{
    width: 60%;
    font-size: 1.3rem;
    margin: auto;
    margin-top: 1rem;
    text-align: center;
  }
  
  .form-container{
    width: 100%;
    margin-bottom: 2rem;
  } 
  
  .promotion{
    font-size: 1.5rem;
    width: 75%;
    margin-top: 3rem;
  }

  .parrafo-form{
    font-size: 1rem;
    width: 60%;
  }
}

@media only screen and (max-width: 540px) {

  .alertaOff{
    width: 1.6rem;
    height: 1.6rem;
    top: 0.60rem;
    right: 2.5rem;
  }
  
  .spanAlertOff{
    font-size: 0.7rem;
  }
  
  .titulo{
    font-size: 1.5rem;
    line-height: 2rem;
  }
  
  .parrafo{
    width: 70%;
    font-size: 0.8rem;
  }

  .promotion{
    font-size: 0.7rem;
    width: 70%;
  }

  .parrafo-form{
    font-size: .7rem;
   width: 80%;
 
  }
}

@media only screen and (max-width: 420px) {
  
  .alerta{
    width: 1.5rem;
    height: 1.5rem;
  }
  
  .spanAlert{
    font-size: 0.5rem;
  }
  

  .promotion{
    font-size: 1rem;
  }

  .parrafo-form{
    font-size: .6rem;
  }
}